.icon {
    font-size: 100px;
    color: burlywood;
    position:absolute;
    z-index:100;
    
}

.img img {
    width: 705px;
    height: 342px;   
}

.img-2 img {
    height:200px;
}
.frenchpress img{
    height:200px;
}



.totap p{
   margin-top: 60px;
}
body{
    font-family: 'Oswald', sans-serif;
}
h5{
    width: 50px;
}