@import "variables";
// @import"myinput";

$myHcolor: antiquewhite;
$myAcolor: #009e61;
$myfont-size:50px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}

#one {
    width: 40%;
    height: 100vh;
    background-color: #009e61;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    h3 {
        color: $myHcolor;
    
    }

    h1 {
        color: $myHcolor;
        font-size: $myfont-size;

    }


}

#two {
    width: 60%;
    height: 100vh;
    background-color: $myHcolor;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 10px 10px 5px lightblue;


    h1 {
        color: $myAcolor;
        font-size: $myfont-size;

    }

    h3 {
        color: $myAcolor;
    }

    i {
        color: $myAcolor;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    i {
        position: absolute;
        margin: 15px 10px;
    }
}

input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
}


.iconbox {
    display: flex;
    flex-direction: row;
    gap: 30px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: 1px solid #fff;

        i {
            font-size: 25px;
            color: black;
        }

    }
}

button {
    @include mybuton;
}
#center{
  display: flex;
  justify-content: center;
}
button:hover{
    background-color: #22cb87;
}