* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

.container {
    background-image: linear-gradient(#583400, #A96800,#583400);
    width: 100%;
    height: 100%;

}

.icon img {
    color: #bf9e34;
    width: 117px;
    height: 100px;
    font-size: 120px;
    padding: 10px 20px
}

.icon h2 {
    color: #bf9e34;
    padding-left: 25px;
}

.bar ul {
    margin: 40px;
}

.bar ul,
a {
    color: #bf9e34;
    font-size: 17px;
}
h3 {
    color: #08503a;
    text-align: center;
}
.info_text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
 .info_img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
 }
 .info_movie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
 }
 .end {
    padding: 15px;
}

.end a button i {
    color: beige;
    font-size: 20px;
}
 button {
    background-color: #08503a;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}