* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

.container {
    background-image: linear-gradient(#583400, #A96800,#583400);
    width: 100%;
    height: 200%;

}

.icon img {
    color: #bf9e34;
    width: 117px;
    height: 100px;
    padding-left: 30px;
    ;
}

.icon h2 {
    color: #bf9e34;
    padding-left: 15px;
}

.bar ul {
    margin: 40px;
}

.bar ul,
a {
    color: #bf9e34;
    font-size: 17px;
}

.Us {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 72%;

}

.Us img {

    width: 1200px;
    height: 600px;
    margin-left: 80px;

}
.Us h3{
text-align: center;
color: beige;
}

.contact {
    border: 2px solid;
    border-radius: 15px;
    width: 40%;
    height: 70%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    color: beige;
    font-size: 20px;
}
.contact button{
    color: beige;
    background-color: #08503a;
    border-radius: 20px;
    width: 60px;
    height: 30px;
}

.end {
    padding: 15px;
}

.end a button i {
    color: beige;
    font-size: 20px;
}

button {
    background-color: #08503a;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}