* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

.container {
    background-image: linear-gradient(#583400, #A96800,#583400);
    width: 100%;
    height: 100%;

}


    .icon img {
        color: #bf9e34;
        width: 117px;
        height: 100px;
        padding-left: 30px;;
    }


.icon h2 {
    color: #bf9e34;
    padding-left:  15px;
}

.bar ul {
    margin: 40px;
}

.bar ul,
a {
    color:  #bf9e34;
    font-size: 17px;
    
}

.history {

    padding: 15px;
    width: 1280px;
}

h3 {
    color: #08503a;
    text-align: center;
}

.history a:hover {
    color: #08503a;


}

.espresso {
    width: 600px;
    padding: 15px;
}

.espresso img {
    width: 600px;
    height: 450px;
}

.latte {
    width: 600px;
    padding: 15px;
}

.latte img {
    width: 600px;
    height: 400px;
}

.rist {
    width: 600px;
    padding: 15px;
}

.rist img {
    width: 600px;
    height: 400px;
}

.end {
    padding: 15px;
}

.end a button i {
    color: beige;
    font-size: 20px;
}

button {
    background-color: #08503a;
    border-radius: 15px;
    width: 50px;
    height: 50px;
}