* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width:600px) {
    .container {
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;
    }
}

nav {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: rgba(255, 255, 255, 1);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    // background-color: rgba(246, 247, 249, 1);
}
