 #main_Box {
     max-width: 600px;
     min-height: 800px;
     width: 100%;
     margin: 0 auto;
     padding: 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
     position: relative;
     border-radius: 20px;

     #main_Box1__img2 {
         width: 380px;
         position: absolute;
         right: 0;
         top: 0;
         transition: transform 1s;


     }

     #main_Box1__img3 {
         width: 445px;
         position: absolute;
         right: -420px;
         top: -90px;
         transition: transform 1s;



     }

     #main_Box2__Price {
         width: 250px;
         height: 60px;
         background-color: #033276;
         position: absolute;
         bottom: 60px;
         right: 85px;
         border-radius: 8px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 25px;
         font-weight: 600px;
         color: aliceblue;
         padding: 10px;
         box-shadow: 5px 10px 18px powderblue;
         transition: transform 1s;
     }
 }

 #main__Box1 {
     width: 400px;
     height: 400px;
     background-color: #ecb721;
     display: flex;
     flex-direction: column;
     gap: 18px;
     border-top-right-radius: 30px;
     border-top-left-radius: 30px;
     transition: transform 1s;
     

     p {
         font-size: 25px;
         font-weight: 500;
         color: antiquewhite;

     }

     h6 {
         color: antiquewhite;
         font-weight: 400;
     }
     #main_Box1__img1 {
         width: 90px;
     }

 }

 #main__Box2 {
     width: 400px;
     height: 400px;
     background-color: #e0e0e0;
     display: flex;
     flex-direction: column;
     gap: 20px;
     border-bottom-left-radius: 30px;
     border-bottom-right-radius: 30px;

     p {
         font-size: 25px;
         font-weight: 500;
         color: #0d0d0d;

     }

     #main_Box__Text {
         display: flex;
         gap: 30px;
         letter-spacing: 2px;

         button {
             width: 50px;
             background-color: mediumspringgreen;
             color: aliceblue;
             border-radius: 8px;
             border: none;
         }
     }

     #main_Box__Stars {
        // color: #868686;
        color:white;
        
         h5 {
             padding-bottom: 3px;
             color: #868686;
         }


     }

     h4 {
         color: #0d0d0d;
         padding-bottom: 8px;
     }

     #main_Box2__Buttons {
         display: flex;
         gap: 20px;

         button {
             border-radius: 50%;
             border: none;
             // margin-right: 7px;
             padding: 0 auto;
             width: 30px;
             height: 30px;
             font-size: 17px;
             color: #868686;
         }
     }

     #main_Box__Colors {
         display: flex;
         flex-direction: column;
         gap: 5px;

         .main_Box_Colors__Two {
             display: flex;
             gap: 15px;
         }

         button {
             width: 25px;
             height: 25px;
             border-radius: 50%;
             border: none;
         }

         #main_box_colors__red {
             background-color: #033276;
         }

         #main_box_colors__blue {
             background-color: brown
         }
     }
 }
//script classes started
 .change {
     #main__box1 {
         background-color: #b40020;
         transition: transform 1s;

     }

     #main_Box2__Price {
         background-color: #b40020;
         transition: transform 1s;
     }

     #main_Box1__img3 {
         transform: translateX(-440px) rotateZ(-45deg);
         transition: transform 1s;
     }

     #main_Box1__img2 {
         transform: translateX(-500px) rotateZ(-45deg);
         transition: transform 1s;

     }

 }
//  .colorPrice{
//     #main__box1 {
//         background-color: #b40020;
//         transition: transform 1s;

//     }

//     #main_Box2__Price {
//         background-color: #b40020;
//         transition: transform 1s;
//     }

//  }
 
